.demo-block.demo-button {
  .sd-row {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  .sd-button + .sd-button {
    margin-left: 10px;
  }
  .sd-button-group {
    .sd-button + .sd-button {
      margin-left: 0;
    }

    & + .sd-button-group {
      margin-left: 10px;
    }
  }
}
