.demo-block.demo-dialog {
  .dialog-footer button:first-child {
    margin-right: 10px;
  }
  .full-image {
    width: 100%;
  }
  .sd-dialog__wrapper {
    margin: 0;
  }
  .sd-select {
    width: 300px;
  }
  .sd-input {
    width: 300px;
  }
  .sd-button--text {
    margin-right: 15px;
  }
}
